body {
    align-items: center;
    background-color: $bg-color;
    background-image: url('../images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;

    @include media-lg {
        background-image: url('../images/pattern-background-desktop.svg');
    }
}

main {
    background-color: $main-component-color;
    border-radius: 20px;
    box-shadow: 0px 40px 40px $shadow-color;
    overflow: hidden;
    width: small-prop(327);
    
    @include media-lg {
        width: 450px;
    }
}

.hero {
    background-image: url('../images/illustration-hero.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: small-prop(160);
    width: small-prop(327);

    @include media-lg {
        height: 220px;
        width: 450px;
    }
}

.margin {
    margin: auto small-prop(24);

    @include media-lg {
        margin: auto large-prop(48);

        .blurb {
            margin: auto;
            max-width: toRem(350);
            
        }

    }
}

h1 {
    margin-bottom: toRem(19);
    margin-top: toRem(32);

    @include media-lg {
        margin-bottom: toRem(22.33);
        margin-top: toRem(45);
    }
}

.plan {
    align-items: center;
    background-color: $plan-bg-color;
    border-radius: 11px;
    display: flex;
    justify-content: space-between;
    margin-top: toRem(26);
    padding: 17px 19px;

    @include media-lg {
        margin-top: toRem(22);
        padding: 25px;
    }
}

.buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: toRem(24);
    margin-bottom: toRem(32);

    @include media-lg {
        margin-bottom: toRem(48);
        margin-top: toRem(32);
    }
}

