.btn {  
    @extend %transition-ease; 
    font-size: toRem(15);
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    width: 100%;

    &--blue {
        background: $blue-btn-bg;
        box-shadow: 0px 20px 20px hsla(245, 75%, 52%, 0.19);
        border-radius: 11px;
        color: $blue-btn-text;
        padding: toRem(15) 0;

        &:hover {
            background-color: hsla(245, 83%, 68%, 1);
        }
    }

    &--white {
        color: $white-btn-txt;
        margin-top: toRem(24);

        &:hover {
            color: hsla(223, 47%, 23%, 1);
        }
    }
}

.change {
    @extend %transition-ease;
    font-family: inherit;
    font-size: toRem(18);

    &:hover {
        color: hsla(245, 83%, 68%, 1);
        text-decoration: none;
    }
}