$bright-blue: hsla(245, 75%, 52%, 1);
$dark-blue: hsla(223, 47%, 23%, 1);
$desaturated-blue: hsla(224, 23%, 55%, 1);
$very-light-blue: hsla(225, 100%, 94%, 1);
$desaturated-dark-blue: hsla(228, 87%, 40%, 0.15);
$blue-white: hsla(225, 100%, 98%, 1);

$heading-color: $dark-blue;
$main-text-color: $desaturated-blue;
$link-color: $bright-blue;
$bg-color: $very-light-blue;
$plan-bg-color: $blue-white;
$main-component-color: white;
$shadow-color: $desaturated-dark-blue;

$blue-btn-bg: $bright-blue;
$blue-btn-text: white;
$white-btn-txt: $desaturated-blue;