$bright-blue: hsla(245, 75%, 52%, 1);
$dark-blue: hsla(223, 47%, 23%, 1);
$desaturated-blue: hsla(224, 23%, 55%, 1);

$heading-color: $dark-blue;
$main-text-color: $desaturated-blue;
$link-color: $bright-blue;